.item {
    color: brown;
}

.active {
    font-size:larger;
    font-weight:bolder;
    background-color:azure
}

.calculationsItems{
    padding: 10px;   
    overflow:auto;
    max-height: 646px;
    background-color: white;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.calculationsItems a{
    color: black;   
    text-decoration: none;
}
.calculationsItems .active{
    color: black;     
}

.sechName{
    color:gray
}
