.full {
    margin-left: 10px;
    padding-left: 7px;
    border-left: 1px solid rgb(221, 218, 218);
}

.graphics{  
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.characteristics {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
}

.characters {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.graphic {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    background-color: white;
}

.parameters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: 240px;
    font-size: 10pt;
    margin-top: 10px;
}