.calculations{
    display: grid;
    grid-template-columns: 3fr 7fr;
    padding-left: 8px;
}

.main{
    max-height:750px
}


.messages{
    padding: 10px;
}
.messages.message{
    padding: 10px;
}

.avaDialogs{
    width: 30px;
    height: 30px;
    border-radius: 30px; 
}

textarea{
    margin-top: 30px;
}