.calculations{
    display: grid;
    grid-template-columns: 4fr 6fr;   
}

.graphics{  
    border-left:1px solid gainsboro;
}

.calculationsItems{
    padding: 10px;
    color: white;   
}
.calculationsItems a{
    color: black;   
    text-decoration: none;
}
.calculationsItems .active{
    color: black;
        
}
.messages{
    padding: 10px;
}
.messages.message{
    padding: 10px;
}

.avaDialogs{
    width: 30px;
    height: 30px;
    border-radius: 30px; 
}

textarea{
    margin-top: 30px;
}

.sechName{
    color:grey;
}