.App {
  text-align: center;
}

.logo {

  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin:16px 24px 16px 0;
  float: right;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

